# Notes #
1. Data preparation
    + Issues
        - Number of rows less than expected -- DONE
        - Dealing with missing values -- DONE
        - Converting target into binary 
        - Should I consider doing feature selection?
    + TODO
        - Add data exploratory steps
        - Show the data distribution etc
        - Add frequency of categorical fields
        - Add class imbalance details
2. Keras model
3. Scikit model
    - Note -- Check Keras wrapper for cross validation
4. Validation


**Rough notes**
1. scikit DONE
2. read
3. cuda
4. fix errors Later, since performance is close
5. Confusion matrix, ROC and validation

---

**Data preparation**

In [16]:
# Data preparation #

# Load CSV using Pandas
import pandas as pd
import numpy as np
# filename = 'adult.data1.csv'
names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
         'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 
         'hours-per-week', 'native-country', 'target']
data = pd.read_csv("../data/dataset.csv", delimiter=" ", header=None, names=names)

# Check for columns that contain missing values #
# col_names = data.columns
# print(col_names)
# num_data = data.shape[0]
# for c in col_names:
#     num_non = data[c].isin(["?"]).sum()
#     if num_non > 0:
#         print (c)
#         print (num_non)
#         print ("{0:.2f}%".format(float(num_non) / num_data * 100))
#         print ("\n")

data = data[data["workclass"] != "?"]
data = data[data["occupation"] != "?"]
data = data[data["native-country"] != "?"]

# Convert categorical fields #
categorical_col = ['workclass', 'education', 'marital-status', 'occupation',
                   'relationship', 'race', 'sex', 'native-country', 'target']
    
# for col in categorical_col:
#     categories = unique_of(data.col)
#     num_cat = count(categories)
#     for cat in categories:
#         data.col[cat] = index_of(cat in categories)

for col in categorical_col:
    b, c = np.unique(data[col], return_inverse=True)
    data[col] = c

feature_list = names[:14]
# Test train split #
X = data.loc[:, feature_list]
Y = data[['target']]

# Split the dataset into test and train datasets

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.60, random_state=0)

data.shape
data.head()

(46043, 16)

,age,workclass,fnlwgt,education,education-num,gender,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,25,3,226802,1,7,Never-married,7,3,2,1,0,0,40,United-States,0,0
1,38,3,89814,11,9,Married-civ-spouse,5,0,4,1,0,0,50,United-States,0,30688
2,28,1,336951,7,12,Married-civ-spouse,11,0,4,1,0,0,40,United-States,1,30689
3,44,3,160323,15,10,Married-civ-spouse,7,0,2,1,96,0,40,United-States,1,30690
5,34,3,198693,0,6,Never-married,8,1,4,1,0,0,30,United-States,0,30691

---

**Data summary**

In [11]:
data.describe()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
count,45222.000000,45222.000000,4.522200e+04,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000
mean,38.547941,2.204502,1.897347e+05,10.313321,10.118460,2.585180,5.969572,1.412697,3.680288,0.675048,1101.430344,88.595418,40.938017,36.401022,0.247844
std,13.217870,0.958122,1.056392e+05,3.817014,2.552881,1.500458,4.026400,1.597227,0.832353,0.468362,7506.430084,404.956092,12.007508,6.079856,0.431766
min,17.000000,0.000000,1.349200e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,2.000000,1.173882e+05,9.000000,9.000000,2.000000,2.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,38.000000,0.000000
50%,37.000000,2.000000,1.783160e+05,11.000000,10.000000,2.000000,6.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
75%,47.000000,2.000000,2.379260e+05,12.000000,13.000000,4.000000,9.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,38.000000,0.000000
max,90.000000,6.000000,1.490400e+06,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,99999.000000,4356.000000,99.000000,40.000000,1.000000

In [13]:
print("Class 1 distribution -- ", data['target'].value_counts()[0] / data.shape[0] * 100)
print("Class 2 distribution -- ", data['target'].value_counts()[1] / data.shape[0] * 100)

Class 1 distribution --  75.21560302507629
Class 2 distribution --  24.78439697492371

In [18]:
# Field distribution #
category_col =['workclass', 'race', 'education','marital-status', 'occupation',
               'relationship', 'sex', 'native-country', 'target'] 
for c in category_col:
    print (c)
    print (data[c].value_counts())

workclass
3    33906
5     3862
1     3136
6     1981
4     1695
0     1432
7       21
2       10
Name: workclass, dtype: int64
race
1    31121
0    14922
Name: race, dtype: int64
education
11    14974
15    10038
9      7772
12     2590
8      1978
1      1634
7      1529
0      1241
5       845
14      810
6       687
2       599
10      576
4       468
3       229
13       73
Name: education, dtype: int64
marital-status
10    6172
3     6112
4     6086
1     5611
12    5504
8     4923
7     3022
14    2355
6     2072
5     1490
13    1446
11     983
9      242
2       15
0       10
Name: marital-status, dtype: int64
occupation
0    19005
1    11917
3     6713
4     4867
5     2140
2     1401
Name: occupation, dtype: int64
relationship
4    39451
2     4359
1     1423
0      435
3      375
Name: relationship, dtype: int64
sex
0      42182
110      508
96       402
93       358
120      239
51       146
80       139
78       116
69       105
54        81
99        79
26        74
102       64
72        62
117       57
67        53
52        51
107       48
113       46
3         43
43        42
106       41
65        41
91        41
74        34
108       34
6         31
40        31
55        30
59        30
       ...
89         4
118        4
73         4
38         4
90         4
97         4
12         4
24         3
29         3
46         3
47         3
85         3
23         3
13         3
119        3
21         2
98         2
2          2
57         2
79         2
10         2
50         2
9          2
112        2
84         2
34         1
114        1
92         1
16         1
17         1
Name: sex, Length: 121, dtype: int64
native-country
0    34621
1    11422
Name: native-country, dtype: int64
target
2047     1
13612    1
1354     1
7497     1
5448     1
27975    1
25926    1
32069    1
30020    1
19779    1
17730    1
23873    1
21824    1
44351    1
42302    1
36155    1
34106    1
40249    1
38200    1
11567    1
9518     1
3403     1
13644    1
15693    1
17762    1
1386     1
7529     1
5480     1
28007    1
25958    1
        ..
43648    1
21119    1
23166    1
17021    1
19068    1
29307    1
31354    1
661      1
4759     1
2740     1
45731    1
12979    1
15026    1
8881     1
10928    1
37543    1
39590    1
33445    1
35492    1
41633    1
27288    1
43680    1
21151    1
23198    1
17053    1
19100    1
29339    1
31386    1
25241    1
0        1
Name: target, Length: 46043, dtype: int64

---

**Keras Model**

In [5]:
# Keras #

### Logistic regression using DNN ###
import numpy as np
from keras.models import Sequential
from keras.layers.core import Dense, Activation
from keras.utils import np_utils

np.random.seed(7)

# Defining model #

model = Sequential()
model.add(Dense(1,input_dim=14,activation='sigmoid'))

# Compile the model #

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Fit the model #

model.fit(x_train, y_train, epochs=800, batch_size=100, verbose=0)

# Evaluate the model #

scores = model.evaluate(x_test, y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

27134/27134 [==============================] - 1s 26us/step

acc: 75.08%

---

**Scikit model**

In [3]:
# Scikit learn #

# Import and create an instance of your model(Logistic regression)

from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()

# Train your model using the training dataset

logisticRegr.fit(x_train,y_train)

# Predict the output 

predictions = logisticRegr.predict(x_test)
print(predictions)

score = logisticRegr.score(x_test,y_test)
print(score)

C:\Users\shakk\Anaconda2\envs\py36\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[0 0 0 ... 1 0 0]
0.7865777253630132

---

**Kfold validation**

In [4]:
# Validation #
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import StratifiedKFold
import numpy

seed = 7
numpy.random.seed(seed)

kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
cvscores = []

for train, test in kfold.split(X, Y):
    # create model
    model = Sequential()
    model.add(Dense(1,input_dim=14,activation='sigmoid'))
    # Compile model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    # Fit the model
    model.fit(X.iloc[train], Y.iloc[train], epochs=500, batch_size=100, verbose=0)
    # evaluate the model
    scores = model.evaluate(X.iloc[test], Y.iloc[test], verbose=0)
    print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))
    cvscores.append(scores[1] * 100)
print("%.2f%% (+/- %.2f%%)" % (numpy.mean(cvscores), numpy.std(cvscores)))

acc: 75.22%
acc: 75.22%
acc: 75.22%
acc: 24.70%

KeyboardInterrupt:

---

**ROC Curve and Confusion matrix**

In [ ]:
# Prediction #
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix

y_pred = model.predict(x_test)
# y_pred = (y_pred>0.5)
fpr, tpr, threshold = metrics.roc_curve(y_test, y_pred)
roc_auc = metrics.auc(fpr, tpr)


plt.title('Receiver Operating Characteristic')
plt.plot(fpr, tpr, 'b', label = 'AUC = %0.2f' % roc_auc)
plt.legend(loc = 'lower right')
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0, 1])
plt.ylim([0, 1])
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.show()


# Creating the Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

---

**Classification Report**

In [ ]:
from sklearn.metrics import classification_report

target_names = ['<=50K', '>50']
print(classification_report(y_test, y_pred, target_names=target_names))

---

# Pending #
1. See if you can fine tune keras model(75% acc) to match scikit model(78% acc)
2. Exploratory analysis of the dataset
3. Latex explanations
4. **Cross check what's wrong with ROC  
and Confusion matrix**